## Imports

In [17]:
import pandas as pd
import numpy as np
import joblib
from sklearn.tree import DecisionTreeClassifier

## Build model

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
data["Age"] = data["Age"].fillna(data["Age"].mean())
data["Cabin"] = data["Cabin"].fillna(data["Cabin"].mode()[0])
data["Embarked"] = data["Embarked"].fillna(data["Embarked"].mode()[0])

In [6]:
data["Sex"] = [1 if i == "male" else 0 for i in data["Sex"]]

In [7]:
data["Embarked"] = [0 if i == "S" else i for i in data["Embarked"]] # S = 0
data["Embarked"] = [1 if i == "C" else i for i in data["Embarked"]] # C = 1
data["Embarked"] = [2 if i == "Q" else i for i in data["Embarked"]] # Q = 2

In [8]:
feature_cols = ["Pclass", "Age", "Sex", "Embarked"]

In [9]:
data.shape

(891, 12)

In [10]:
model = DecisionTreeClassifier(min_samples_leaf=10) 
model.fit(data[feature_cols], data["Survived"])

DecisionTreeClassifier(min_samples_leaf=10)

In [11]:
model.predict_proba(data[feature_cols])[:, 1][:10]

array([0.        , 1.        , 0.61111111, 1.        , 0.        ,
       0.08      , 0.2       , 0.42857143, 0.61111111, 1.        ])

In [12]:
data["Survived"][:10]

0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Survived, dtype: int64

In [13]:
sample = {
    'Pclass': [1],
    'Age': [38],
    'Sex': [1],
    'Embarked': [1]
}

In [14]:
pd.DataFrame.from_dict(sample)

   Pclass  Age  Sex  Embarked
0       1   38    1         1

In [15]:
data[feature_cols + ['Survived']].iloc[1:2]

   Pclass   Age  Sex  Embarked  Survived
1       1  38.0    0         1         1

In [16]:
model.predict_proba(pd.DataFrame.from_dict(sample))[:, 1]

array([0.38461538])